<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/index.css">

</head>

<body>
    <script>
        async function newItemChanged() {
            const task = document.getElementById("newItem").value
            if (event.key == 'Enter' && task.length > 0) {
                // post method to add tasks
                const response = await fetch("/add-item", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ message: task })
                })
                location.reload()
            }
        }
    </script>
    <h1 class="title"> Todo List</h1>
    <div class="container">
        <section class="section">
            <h3>To Do:</h3>
            <% for( item of toBeDone) { %>
                <div class="item-list">
                    <div>
                        <input type="checkbox" name=<%=item.id %> id=<%=item.id %> autocomplete='off'
                            <%= item.complete ? "checked" : "" %>>
                    </div>
                    <div class="message">
                        <%= item.message %>
                    </div>
                    <button><b>X</b></button>
                </div>
                <% } %>
                    <input type="text" id="newItem" name="newItem" required minlength="1" maxlength="40"
                        placeholder=" [ new item ] " onkeydown="newItemChanged()" onfocus="this.value=''">
        </section>
        <section class=" section">
            <h3>Done:</h3>
            <% for( item of done) { %>
                <div class="item-list">
                    <div>
                        <input type="checkbox" name=<%=item.id %> id=<%=item.id %> autocomplete='off'
                            <%= item.complete ? "checked" : "" %>>
                    </div>
                    <div class="message" style="text-decoration: line-through;">
                        <%= item.message %>
                    </div>
                    <button><b>X</b></button>
                </div>
                <% } %>
        </section>
        <section class="section">
            <div>
                <%= score %> done
            </div>
        </section>
    </div>
    </div>
</body>

</html>